.playerWrapper {
  padding: 3rem;
  width: 100%;
}

.features {
  display: flex;
  align-items: center;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
  margin: 10px 5px 5px 5px;
}

.playerWrapper h1 {
  margin-bottom: 0;
  color: #ed7d0e;
}

.buttons {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons {
  margin-bottom: 25px;
  padding: 0 1rem;
  display: flex;
  justify-content: flex-start;
}

.itemWrapper {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.itemWrapper p {
  margin-top: 10px;
}