.playerWrapper {
  padding: 3rem;
  width: 100%;
  color: rgba(112, 111, 111, 1);
  background-image: linear-gradient(to right, #07456B, rgb(8, 16, 23));
}

.features {
  display: flex;
  align-items: center;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
  margin: 10px 5px 5px 5px;
}

.itemWrapper h3 {
  margin-bottom: 0;
  color: #ed7d0e;
}

.playerWrapper h1 {
  font-family: Montserrat;
  text-transform: uppercase;
  margin-bottom: 0;
  color: #ed7d0e;
  font-weight: 800;
}

.buttons {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}