/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
/* source-sans-pro-200 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 200;
  src: local('Source Sans Pro'),
  url('../../static/fonts/source-sans-pro-v21-latin-200.ttf') format('truetype'), 
  url('../../static/fonts/source-sans-pro-v21-latin-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../../static/fonts/source-sans-pro-v21-latin-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* source-sans-pro-300 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro'),
  url('../../static/fonts/source-sans-pro-v21-latin-300.ttf') format('truetype'), 
  url('../../static/fonts/source-sans-pro-v21-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../../static/fonts/source-sans-pro-v21-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* source-sans-pro-regular - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'),
  url('../../static/fonts/source-sans-pro-v21-latin-regular.ttf') format('truetype'), 
  url('../../static/fonts/source-sans-pro-v21-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../../static/fonts/source-sans-pro-v21-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* source-sans-pro-600 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro'),
  url('../../static/fonts/source-sans-pro-v21-latin-600.ttf') format('truetype'),
  url('../../static/fonts/source-sans-pro-v21-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../../static/fonts/source-sans-pro-v21-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* source-sans-pro-700 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro'),
  url('../../static/fonts/source-sans-pro-v21-latin-700.ttf') format('truetype'),
  url('../../static/fonts/source-sans-pro-v21-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../../static/fonts/source-sans-pro-v21-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* source-sans-pro-900 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 900;
  src: local('Source Sans Pro'),
  url('../../static/fonts/source-sans-pro-v21-latin-900.ttf') format('truetype'),
  url('../../static/fonts/source-sans-pro-v21-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../../static/fonts/source-sans-pro-v21-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


:root {
  --ifm-color-primary: #ed7d0e;
  --ifm-color-primary-dark: #d5710d;
  --ifm-color-primary-darker: #c96a0c;
  --ifm-color-primary-darkest: #a6580a;
  --ifm-color-primary-light: #f28a22;
  --ifm-color-primary-lighter: #f3902e;
  --ifm-color-primary-lightest: #f5a352;
  /* --ifm-background-color: #020305; */
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-font-family-base: "Source Sans Pro", sans-serif;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #ed7d0e;
  --ifm-color-primary-dark: #d5710d;
  --ifm-color-primary-darker: #c96a0c;
  --ifm-color-primary-darkest: #a6580a;
  --ifm-color-primary-light: #f28a22;
  --ifm-color-primary-lighter: #f3902e;
  --ifm-background-color: #020305;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.cardContainer_Uewx {
  --ifm-link-color: var(--ifm-color-emphasis-800);
  --ifm-link-hover-color: var(--ifm-color-emphasis-700);
  --ifm-link-hover-decoration: none;
  border: 1px solid var(--ifm-color-emphasis-200);
  box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, .15);
  transition: all var(--ifm-transition-fast) ease;
  transition-property: border, box-shadow;
}

/* Set your aspect ratio */
.video-container {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%; /* creates a 16:9 aspect ratio */
  border: 4px solid;
  border-color: #d28130;
}

.video-container iframe,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
}

/* And set the max-width of the parent element */
.video-wrap {
  width: 100%;
  max-width: 1200px;
}

/* BEGINN --> These classes were designed for the analytics alerting page. */ 
.badge {
  display: inline-block;
  padding: 4px 6px;
  background-color: #ed7d0e;
  color: #fff;
  border-radius: 10px;
  font-weight: bold;
  font-size: 12px;
  margin-left: 5px;
  margin-right: 5px;
}

.badge-heading {
  font-size: 18px;
}

.badge-inText {
  font-size: 18px;
}

.badge-criticalAlert {
  background-color: #D22315;
}

.badge-moderateAlert {
  background-color: #ef5350; 
}

.badge-minorAlert {
  background-color: #ef9a9a;
}

.badge-adviceAlert {
  background-color: #03a9f4;
}

.analytics-alertHeading-general::after {
  content: 'General Alerts'
}

.analytics-alertHeading-stability::after {
  content: 'Stability Alerts'
}

.analytics-alertHeading-performance::after {
  content: 'Performance Alerts'
}

.analytics-alertHeading-infrastructure::after {
  content: 'Infrastructure Alerts'
}
/* END --> Analytics Alerting Section */
