.footerExtensionWrapper {
  background-color: #303846;
  padding: 3rem 0;
  width: 100%;
}

.footerExtensionWrapper h2 {
  color: rgba(15, 141, 201, 1);
  font-weight: 300;
  text-transform: uppercase;
}

.footerExtensionSection {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  color: #fff;
}

.footerExtensionSection h3 {
  color: #ed7d0e;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 100px;
  width: 100px;
}

.horizontalLine {
  margin: 0 10%;
}

.buttons {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scaled-image-30 {
  width: 50%;
}

.scaled-image-40 {
  width: 50%;
}

.scaled-image-50 {
  width: 50%;
}

.scaled-image-60 {
  width: 50%;
}

.scaled-image-70 {
  width: 50%;
}

.scaled-image-80 {
  width: 50%;
}

.scaled-image-container {
  margin: 20px;
  display: flex;
  width: 100%!important;
}

.scaled-image-textbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

.scaled-image-description {
  margin: 5px;
}